<div class="container">
  <div class="row grid-design">
    <% @products.each do |product| %>
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card card-design">
      <%= link_to product_path(product), class: "text-decoration-none text-black" do %>
       <%= image_tag(product.images.first, alt: product.name, class: "card-img-top") %>
        <div class="card-body">
          <h5 class="card-title"><%= product.name %></h5>
          <p class="card-text"><%= number_to_currency(product.total_price) %></p>
      <% end %>
          <%= form_tag add_to_cart_product_path(product), method: :post do %>
            <%= submit_tag 'Add to Cart', class: 'btn btn-primary button-cart' %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
