<table class="table table-hover">
  <thead>
    <tr>
      <th class="col-sm-2">Order Number</th>
      <th class="col-sm-2">Total Price</th>
      <th class="col-sm-3">Date Placed</th>
      <th class="col-sm-2">Status</th>
      <th class="col-sm-3 text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= number_to_currency(order.total_price) %></td>
        <td><%= order.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
        <td><%= order.status %></td>
        <td class="text-center">
          <%= link_to 'View Details', adminorder_path(order), class: 'btn btn-primary btn-sm mb-1 mb-md-0 btn-equal-width' %>
          <%= link_to 'Edit Status', edit_adminorder_path(order), class: 'btn btn-secondary btn-sm col-12 col-md-5' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
