<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="my-5 login-heading fw-medium fs-1 fw-light text-center">Edit Order</h1>

      <%= form_for @order, url: adminorder_path(@order), method: :patch do |f| %>
        <div class="form-group">
          <%= f.label :status, class: "font-weight-bold" %>
          <% if @order.status.in?(["completed", "cancelled"]) %>
            <%= f.text_field :status, class: "form-control", disabled: true %>
          <% else %>
            <%= f.select :status, Order.statuses.keys.map { |s| [s.humanize, s] }, {}, class: "form-control" %>
          <% end %>
        </div>

        <div class="text-center my-5">
          <%= f.submit "Update Order", class: "btn btn-primary" %>
          <%= link_to 'Back to Orders', adminorders_path, class: 'btn btn-secondary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
