<div class="container">
  <div class="row ">
      <h1 class="my-3 my-md-5 login-heading fw-medium fs-1 fw-light text-center">Order Details</h1>
  </div>

  <div class="row mt-4">
    <div class="col-md-4">
      <h2 class="login-heading fw-medium fs-2 fw-light">Customer</h2>
      <p><%= @order.user.full_name %></p>
    </div>
    <div class="col-md-4">
      <h2 class="login-heading fw-medium fs-2 fw-light">Shipping Address</h2>
      <p><%= @order.address.full_address %></p>
    </div>
    <div class="col-md-4">
      <h2 class="login-heading fw-medium fs-2 fw-light">Status</h2>
      <p><%= @order.status %></p>
    </div>
  </div>



  <div class="mt-4">
    <h2 class="login-heading fw-medium fs-2 fw-light">Order Summary:</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% @order.order_items.each do |order_item| %>
          <tr>
            <td><%= order_item.product.name %></td>
            <td><%= number_to_currency(order_item.price) %></td>
            <td><%= order_item.quantity %></td>
            <td><%= number_to_currency(order_item.price * order_item.quantity) %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="3">Total Price:</th>
          <th><%= number_to_currency(@order.total_price) %></th>
        </tr>
      </tfoot>
    </table>
  </div>

  <div class="my-5 text-center">
    <div class="btn-group">
      <%= link_to edit_adminorder_path(@order), class: "btn btn-primary" do %>
        <i class="fas fa-edit"></i> EDIT STATUS
      <% end %>
      <%= link_to 'Back to Orders', adminorders_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
