<div class="container-fluid ps-md-0">
  <div class="row g-0">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image-confirmation"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h2 class="my-5 login-heading mb-4 fw-medium fs-1 fw-light">Resend confirmation instructions</h2>
              <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
                
                <!-- Email -->
                  <div class="mb-3 col-lg-9">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
                  </div>

                <!-- Submit Button -->
                <div class="actions">
                  <%= f.submit "Resend confirmation instructions", class: "btn btn-login text-uppercase fw-bold my-3 col-lg-9" %>
                </div>

                <%= render "devise/shared/links" %>

              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
