<div class="container-fluid ps-md-0">
  <div class="row g-0">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-edit-user"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">

              <h2 class="my-5 login-heading mb-4 fw-medium fs-1 fw-light">Edit <%= resource_name.to_s.humanize %></h2>

                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                  <%= render "devise/shared/error_messages", resource: resource %>

                  <div class="field mb-3 col-md-9">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, required: true, autocomplete: "email", class: "form-control input" %>
                  </div>

                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                  <% end %>

                  <div class="field mb-3 col-md-9">
                    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                    <%= f.password_field :password, autocomplete: "new-password",required: true, class: "form-control input" %>
                    <% if @minimum_password_length %>
                      <br />
                      <em><%= @minimum_password_length %> characters minimum</em>
                    <% end %>
                  </div>

                  <div class="field mb-3 col-md-9">
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true, class: "form-control input" %>
                  </div>

                  <div class="field mb-3 col-md-9">
                    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                    <%= f.password_field :current_password, autocomplete: "current-password",required: true, class: "form-control input" %>
                  </div>

                  <div class="actions">
                    <%= f.submit "Update",required: true, class:"btn btn-login  text-uppercase fw-bold my-3 col-md-9" %>
                  </div>
                <% end %>

                <h3 class="my-5 login-heading mb-4 fw-medium fs-1 fw-light">Cancel my account</h3>

                <div>Unhappy?
                  <%= button_to "Cancel my account",
                    registration_path(resource_name),
                    data: { confirm: "Are you sure?",
                    turbo_confirm: "Are you sure?" },
                    method: :delete,
                    class: "btn btn-danger text-uppercase fw-bold my-3 col-md-9" %>
                </div>

                <%= link_to "Back", :back %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
