<div class="container-fluid ps-md-0">
  <div class="row g-0">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-registration"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h2 class="my-5 login-heading mb-4 fw-medium fs-1 fw-light">Registration</h2>
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
                
                <!-- First Name -->
                  <div class="mb-3 col-lg-9">
                    <%= f.label :first_name, class: "form-label" %>
                    <%= f.text_field :first_name, class: "form-control", autofocus: true %>
                  </div>

                  <!-- Last Name -->
                  <div class="mb-3 col-lg-9">
                    <%= f.label :last_name, class: "form-label" %>
                    <%= f.text_field :last_name, class: "form-control" %>
                  </div>
                
                <!-- Email -->
                <div class="mb-3 col-lg-9">
                  <%= f.label :email, class: "form-label" %>
                  <%= f.email_field :email, class: "form-control", autocomplete: "email" %>
                </div>
                
                <!-- Password -->
                <div class="mb-3 col-lg-9">
                  <%= f.label :password, class: "form-label" %>
                  <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %>
                  <%= f.password_field :password, required: true, class: "form-control", autocomplete: "new-password" %>
                </div>
                
                <!-- Password Confirmation -->
                <div class="mb-3 col-lg-9">
                  <%= f.label :password_confirmation, class: "form-label" %>
                  <%= f.password_field :password_confirmation, required: true, class: "form-control", autocomplete: "new-password" %>
                </div>
                
                <!-- Submit Button -->
                <div class="actions">
                  <%= f.submit "Sign up", class: "btn btn-login text-uppercase fw-bold my-3 col-lg-9" %>
                </div>

              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
