<div class="container">
  <div class="row text-center">
     <h1 class="login-heading mb-4 fw-medium fs-1 fw-light my-md-5">User Profile</h1>
  </div>

  <div class="row text-center">
    <div class="col-md-3 offset-md-3">
      <h2 class="login-heading fw-medium fs-3 fw-light">Username:</h2>
      <p><%= @user.full_name %></p>
    </div>
    <div class="col-md-3">
      <h2 class="login-heading fw-medium fs-3 fw-light">Email:</h2>
      <p><%= @user.email %></p>
    </div>
  </div>

  <div class="row">
    <% if @user.usertype == "admin" %>
      <div class="row">
        <%= render 'orders/index' %>
      </div>
      <%else %>
      <div class="col-md-6">
        <%= render 'orders/index' %>
      </div>
      <div class="col-md-6">
        <%= render 'addresses/index' %>
      </div>
    <%end%>
  </div>
</div>
