<div class="container">
  <%= render partial: "shared/pins_banner" %>
  <div class="row mb-5">
    <% @products.each do |product| %>
      <% if product.product_type == 'Pins' %>
        <div class="col-md-3">
          <div class="product">
            <%= link_to product_path(product), class: "text-decoration-none text-black" do %>
              <%= image_tag(product.images.first, alt: product.name, class: "img-fluid") %>
              <h2><%= product.name %></h2>
              <p><%= number_to_currency(product.base_price) %></p>
            <% end %>
            <%= form_tag add_to_cart_product_path(product), method: :post do %>
              <%= submit_tag 'Add to Cart', class: 'btn btn-dark col-12' %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


