<div class="row mb-5">
  <% caps_products_by_brand = @caps_products_by_brand[brand.id] %>
  <% caps_products_by_brand.each do |product| %>
    <div class="col-md-3">
      <div class="product">
        <%= link_to product_path(product), class: "text-decoration-none text-black" do %>
          <%= image_tag(product.images.first, alt: product.name, class: "img-fluid") %>
          <h3><%= product.name %></h3>
          <p><%= number_to_currency(product.base_price) %></p>
        <% end %>
        <!-- Add to Cart Form -->
        <%= form_tag add_to_cart_product_path(product), method: :post do %>
          <%= submit_tag 'Add to Cart', class: 'btn btn-dark col-12' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
