<div class="container">
  <h1 class="my-4 login-heading fw-medium fs-1 fw-light text-center py-4 text-bold">Shopping Cart</h1>
  <div class="row ">
    <div class="col-md-10 offset-md-1">
      <% if @line_items&.any? %>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th>Product</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @line_items.each do |line_item| %>
                  <tr>
                    <td class="align-middle">
                      <% if line_item.product.image.attached? %>
                        <%= image_tag rails_blob_path(line_item.product.image, disposition: "attachment", only_path: true), class: "img-thumbnail img-fluid", width: "100", height: "100" %>
                      <% else %>
                        No Image
                      <% end %>
                    </td>
                    <td class="align-middle">
                      <%= line_item.product.name %>
                    </td>
                    <td class="align-middle">
                      <%= line_item.product.total_price %>
                    </td>
                    <td class="align-middle">
                      <%= line_item.quantity %>
                    </td>
                    <td class="align-middle">
                      <%= form_with url: remove_product_cart_path(@cart, line_item), method: :delete, data: { confirm: 'Are you sure you want to remove this product from the cart?' } do |form| %>
                        <%= form.submit 'Remove', class: 'btn btn-danger btn-sm' %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>

          <div class="d-flex flex-column bg-light p-3">
            <p class="text-uppercase fw-bold text-center ">Total Price: <%= number_to_currency(@total_price) %></p>
          </div>
         <div class="row d-flex justify-content-center my-md-3">
          <%= link_to 'Continue Shopping', products_path, class: 'btn btn-outline-primary text-uppercase fw-bold my-2 col-8 col-md-4' %>
          <%= link_to 'Proceed to Checkout', checkout_path, method: :post, class: 'btn btn-primary text-uppercase fw-bold my-2 col-8 col-md-4 offset-md-2' %>
        </div>


        <% else %>
          <div class="container d-flex justify-content-center flex-column align-items-center">
            <%= image_tag ("emtpyCart.webp"), class: "img-fluid cart-size"%>
            <h3 class="text-bold text-center">Your cart is currently empty!</h3>
            <div class="text-empty-cart text-center mt-3">
              <p>Before to procede to checkout you must add some products to your shopping cart.</p>
              <p>You will find a lot of interesting products in <%= link_to "Home", home_index_path %> page.</p>
            </div>
          </div>
        <% end %>
    </div>
  </div>

</div>
