<!-- app/views/products/cart.html.erb -->
<div class="container">
  <h1 class="my-5 text-center">Your Cart</h1>

  <% if @line_items&.any? %>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @line_items.each do |line_item| %>
          <tr>
            <td>
              <%= line_item.product.name %>
            </td>
            <td>
              <%= line_item.quantity %>
            </td>
            <td><%= line_item.product.total_price %></td>
            <td><%= button_to "Destroy this product", @product, method: :delete, class: "btn btn-danger my-3 text-uppercase fw-bold" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p class="text-end">Total Price: <%= number_to_currency(@total_price) %></p>
    <%= link_to 'Proceed to Checkout', checkout_path, method: :post, class: 'btn btn-primary' %>
  <% else %>
    <p>Your cart is empty.</p>
  <% end %>

  <%= link_to 'Continue Shopping', products_path, class: 'btn btn-primary' %>
</div>
