<div class="container">
  <h1 class="my-5 login-heading fw-medium fs-1 fw-light text-center">Checkout</h1>
  <div row>
    <div class="col-md-8 offset-md-2">
      <%= form_tag checkout_path, method: :post, class: 'checkout-form' do %>
        <div class="mb-3">
          <label for="address_id" class="form-label">Select Address:</label>
          <%= select_tag 'address_id', options_from_collection_for_select(@address_options, 'id', 'full_address'), class: 'form-control' %>
        </div>

        <h2 class="mt-5">Order Summary:</h2>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <% total_amount = 0 %>
              <% @cart.line_items.each do |line_item| %>
                <tr>
                  <td class="align-middle">
                    <% if line_item.product.images.first %>
                      <%= image_tag rails_blob_path(line_item.product.images.first, disposition: "attachment", only_path: true), class: "img-thumbnail img-fluid", width: "100", height: "100" %>
                    <% else %>
                      <%= image_tag "no-image@2x.png", class: "img-thumbnail img-fluid", width: "80%" %>
                    <% end %>
                  </td>
                  <td><%= line_item.product.name %></td>
                  <td><%= number_to_currency(line_item.product.total_price) %></td>
                  <td class="text-center"><%= line_item.quantity %></td>
                  <% item_total = line_item.product.total_price * line_item.quantity %>
                  <td><%= number_to_currency(item_total) %></td>
                  <% total_amount += item_total %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="d-flex justify-content-center justify-content-md-end bg-light p-3">
          <p class="text-uppercase fw-bold">Total Price: <%= number_to_currency(total_amount) %></p>
        </div>

        <div class="d-flex justify-content-center my-3">
          <%= submit_tag 'Place Order', class: 'btn btn-primary text-uppercase fw-bold col-8 col-md-4' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
