<div class="container">
  <div class="row text-center">
    <h1 class="my-5 login-heading mb-4 fw-medium fs-1 fw-light">CAPS</h1>
  </div>

  <!-- Formulario de búsqueda por marca -->
  <%= form_tag(caps_path, method: :get, class: "mb-3") do %>
    <div class="form-group">
      <%= label_tag "brand", "Filter by Brand:" %>
      <%= select_tag "brand", options_for_select(Brand.pluck(:name, :id)), prompt: "Select Brand", class: "form-control" %>
    </div>
    <%= submit_tag "Filter", class: "btn btn-primary" %>
  <% end %>

<div class="container">
  <div class="row grid-design">
    <% @products.each do |product| %>
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card card-design">
      <%= link_to product_path(product), class: "text-decoration-none text-black" do %>
       <%= image_tag(product.images.first, alt: product.name, class: "card-img-top") %>
        <div class="card-body">
          <h5 class="card-title"><%= product.name %></h5>
          <p class="card-text"><%= number_to_currency(product.total_price) %></p>
      <% end %>
          <%= form_tag add_to_cart_product_path(product), method: :post do %>
            <%= submit_tag 'Add to Cart', class: 'btn btn-primary button-cart' %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>


  <% if current_user.usertype == 'admin'%> 
    <div class="text-center my-3">
      <%= link_to "New product", new_product_path, class: "btn custom-button text-uppercase fw-bold" %>
    </div>
  <% end %> 
</div>

