<div class="container">
  <div class="row text-center">
    <h1 class="my-5 login-heading mb-4 fw-medium fs-1 fw-light">CAPS</h1>
  </div>

  <!-- Formulario de búsqueda por marca -->
  <%= form_tag(caps_path, method: :get, class: "mb-3") do %>
    <div class="form-group">
      <%= label_tag "brand", "Filter by Brand:" %>
      <%= select_tag "brand", options_for_select(Brand.pluck(:name, :id)), prompt: "Select Brand", class: "form-control" %>
    </div>
    <%= submit_tag "Filter", class: "btn btn-primary" %>
  <% end %>

  <div id="products" class="table-responsive">
    <table class="table table-hover text-center">
      <thead>
        <tr class="d-none d-md-table-row">
          <th></th>
          <th>Name</th>
          <th>Description</th>
          <th>Product Type</th>
          <th>Brand</th>
          <th>Size</th>
          <th>Base Price</th>
          <th>Discount</th>
          <th>Total Price</th>
          <th>Stock</th>
          <th>Availability</th>
          <th>Show</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <%= render @products %>
      </tbody>
    </table>
  </div>
</div>
