<div class="container">
  <div class="row text-center">
    <h1 class="my-5 login-heading mb-4 fw-medium fs-1 fw-light">Shipping Addresses</h1>
  </div>
  <div class="my-5">
    <%= link_to 'New Address', new_address_path, class: "btn btn-login text-uppercase fw-bold"  %>
  </div>

  <div class="table-responsive">
    <table class="table table-hover mb-5">
      <thead>
        <tr class="d-none d-md-table-row">
          <th>City</th>
          <th>State</th>
          <th>ZIP Code</th>
          <th>Address</th>
          <th>Phone Number</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @addresses.each do |address| %>
          <tr>
            <td class="d-none d-md-table-cell">
              <%= address.city %>
            </td>
            <td class="d-none d-md-table-cell">
              <%= address.state %>
            </td>
            <td class="d-none d-md-table-cell">
              <%= address.zip_code %>
            </td>
            <td class="d-none d-md-table-cell">
              <%= address.address %>
            </td>
            <td class="d-none d-md-table-cell">
              <%= address.phone_number %>
            </td>
            <td class="d-none d-md-table-cell">
              <div class="btn-group">
                <%= link_to edit_address_path(address), class: "btn btn-primary btn-sm" do %>
                  <i class="fas fa-eye"></i> Details
                <% end %>
              </div>
            </td>
            <td class="d-table-cell d-md-none" colspan="2">
              <strong>City:</strong> <%= address.city %><br>
              <strong>State:</strong> <%= address.state %><br>
              <strong>ZIP Code:</strong> <%= address.zip_code %><br>
              <strong>Address:</strong> <%= address.address %><br>
              <strong>Phone Number:</strong> <%= address.phone_number %><br>
              <div class="mt-2">
                <%= link_to edit_address_path(address), class: "btn btn-primary btn-sm" do %>
                  <i class="fas fa-eye"></i> Details
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
