<%= form_with(model: brand, class: "rounded-3") do |form| %>
  <% if brand.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading">Errors:</h4>
      <ul>
        <% brand.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3 ">
    <strong><%= form.label :name, class: "form-label" %></strong>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <strong><%= form.label :images, "Edit/Add Images", class: "form-label" %></strong>
    <% brand.images.each_with_index do |image, index| %>
      <div class="mb-3">
        <%= image_tag image, class: "img-thumbnail custom-thumbnail", width: 400, height: 300 %> <br>
        <%= form.file_field "image_#{index}", class: "form-control-file", size: "60" %>
      </div>
    <% end %>
    <!-- Solo mostrar el campo de carga de archivos si no hay imágenes adjuntas -->
    <% unless brand.images.attached? %>
      <%= form.file_field :images, multiple: true, class: "form-control-file", size: "60" %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.submit "Save", class: "btn btn-primary mt-3" %>
  </div>
<% end %>
