<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-3">
    <%= form.label :name, style: "display: block " %>
    <%= form.text_field :name, class: "w-100 form-control" %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, class: "w-100 form-control" %>
  </div>

  <div class="my-3">
    <%= form.label :product_type, style: "display: block" %>
    <%= form.text_field :product_type, class: "w-100 form-control" %>
  </div>

  <div>
    <%= form.label :brand, style: "display: block" %>
    <%= form.text_field :brand, class: "w-100 form-control" %>
  </div>

  <div class="my-3">
    <%= form.label :image, class:"form-label mb-2" %>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <div>
    <%= form.label :size, style: "display: block" %>
    <%= form.text_field :size, class: "w-100 form-control" %>
  </div>

  <div class="my-3">
    <%= form.label :base_price, style: "display: block" %>
    <%= form.text_field :base_price, class: "w-100 form-control", id: "product_base_price" %>
  </div>

  <div>
    <%= form.label :discount, style: "display: block" %>
    <%= form.text_field :discount, class: "w-100 form-control", id: "product_discount" %>
  </div>

  <div class="my-3">
    <%= form.label :total_price, style: "display: block" %>
    <%= form.text_field :total_price, class: "w-100 form-control", readonly: true, id: "calculated_total_price" %>
  </div>

  <div>
    <%= form.label :stock, style: "display: block" %>
    <%= form.number_field :stock %>
  </div>

  <div class="my-3">
    <%= form.label :availability, style: "display: block" %>
    <%= form.check_box :availability %>
  </div>

  <div class="text-center">
    <%= form.submit class: "btn custom-button text-uppercase fw-bold mt-3 " %>
  </div>
<% end %>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const basePriceInput = document.getElementById("product_base_price");
    const discountInput = document.getElementById("product_discount");
    const totalPriceInput = document.getElementById("calculated_total_price");

    function updateTotalPrice() {
      const basePrice = parseFloat(basePriceInput.value);
      const discount = parseFloat(discountInput.value);

      if (!isNaN(basePrice) && !isNaN(discount)) {
        const totalPrice = (basePrice * (1 - discount / 100)).toFixed(2);
        totalPriceInput.value = totalPrice;
      }
    }

    basePriceInput.addEventListener("input", updateTotalPrice);
    discountInput.addEventListener("input", updateTotalPrice);
  });
</script>
