<tr>
  <td>
    <% if product.image.attached? %>
      <%= image_tag rails_blob_path(product.image, disposition: "attachment", only_path: true), class: "img-thumbnail img-fluid", width: "100", height: "100" %>
    <% else %>
      No Image
    <% end %>
  </td>
  <td class="align-middle"><%= product.name %></td>
  <td class="align-middle"><%= product.description %></td>
  <td class="align-middle"><%= product.product_type %></td>
  <td class="align-middle"><%= product.brand %></td>
  <td class="align-middle"><%= product.size %></td>
  <td class="align-middle"><%= product.base_price %></td>
  <td class="align-middle"><%= product.discount %></td>
  <td class="align-middle"><%= product.total_price %></td>
  <td class="align-middle"><%= product.stock %></td>
  <td class="align-middle"><%= product.availability %></td>
  <td class="align-middle"><%= link_to "Show", product %></td>
</tr>
