<!DOCTYPE html>
<html>
  <head>
    <title>ProyectoFinalJdg</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--BOOTSTRAP -->
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_importmap_tags %>
    <script src="<your-kit-code>" data-mutate-approach="sync"></script>
  </head>

  <body>
    <%= render partial: "partials/components/top-message" unless devise_controller? %>
    <%= render partial: "partials/layout/navbar" unless devise_controller? %>
    <%= yield %>
    <%= render partial: "partials/layout/footer" unless devise_controller? %>
  </body>
</html>
